@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&family=Yeon+Sung&display=swap');

body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Sunflower', sans-serif;
}
table {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 30px;
}
table th, table td {
	border: 1px solid black;
	padding: 5px 10px;
}

table th {
	background-color: #FFEBFF;
}
input {
	height: 22px;
	padding: 3px 5px;
	font-size: 15px;
}
a:link, a:visited { text-decoration: none; color: navy;}
a.btn-fill, a.btn-empty{
	text-align: center;
	padding: 3px 10px;
	border: 2px solid navy;
	border-radius: 58px;
	box-shadow: 2px 2px 3px #022d72;
}
a.btn-fill {
	background-color: pink;
}
 a.btn-empty{
 	background-color: white;
 }
 
 a.btn-fill-s,a.btn-empty-s {
 	font-size: 13px;
 	font-weight: bold;
 	text-align: center;
 	padding: 1px 10px;
 	border: 1px solid black;
 	border-radius: 3px;
 	box-shadow: 2px 2px 2px #022d72;
 	color: #0000cd;
 }
 
 a.btn-fill-s { background-color: gray; }
 a.btn-empty-s { background-color: lime; }
 
 img{vertical-align: middle;}
 
 
 input[type=radio] { width:18px; margin: 0 10px 3px;  vertical-align: middle;}
 table tr td label:not(:last-child) { margin-right: 50px;}

.btnSet a:not(:first-child) { margin-left: 5px;}
.btnSet { margin-top: 50px;}

#content {
	padding: 20px 0; min-width: 1280px;
}

.w-pct50{ width: 50%; }
.w-pct60{ width: 60%; }
.w-pct70{ width: 70%; }
.w-pct80{ width: 80%; }
.w-pct90{ width: 90%; }

.w-px40{ width: 40px; }
.w-px50{ width: 50px; }
.w-px60{ width: 60px; }
.w-px70{ width: 70px; }
.w-px80{ width: 80px; }
.w-px90{ width: 90px; }
.w-px100{ width: 100px; }
.w-px160{ width: 160px; }
.w-px180{ width: 180px; }
.w-px200{ width: 200px; }

table tr td a:hover {font-weight: bold;}

.left{text-align: left;}
.right {text-align: right; } 

a:hover, .font-img {cursor: pointer;}

ul { list-style:none; }
#list-top { padding:20px 10%; } 
#list-top div { width:100%; height:32px; }
#list-top div ul { margin:0; display:flex; padding:0  }
#list-top div ul:first-child { float:left; }
#list-top div ul:last-child { float:right; }
#list-top div ul li * { vertical-align:middle; } 
#list-top div ul li:not(:first-child) { margin-left:2px; } 

select { height:32px; }
input[name=title] { width:calc(100% - 14px) }
textarea[name=content] { width:calc(100% - 6px); 
	resize:none; height:150px;  }

.file-img { width:18px; height:18px  }
#attach-file, #delete-file { display:none; }

ul.grid { width:80%; margin:0 10%; padding:0 }
.grid li { float:left; width:19%; height:150px; 
		border:1px solid gray ; box-sizing:border-box;  }
.grid li:not(:nth-child(5n)) { margin:0 1.25% 20px 0 }
.grid li div{ text-align:left; padding:10px; }
.grid li div:nth-child(1) { height:60px;  }
.grid li div:nth-child(2) { padding:0 10px; }

#popup-background {
	position: absolute; left: 0; top: 0; display:none;
	width: 100%; height: 100%; background-color: black; opacity: 0.3;
}
